<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>galera.dev Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="16x16" href="https://blog.mstefan99.com/static/images/ico.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/error.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Delius" rel="stylesheet">
</head>
<body>
{% for i in range(1,12) %}
   <div class="dusk" id="d{{ i }}"></div>
{% endfor %}
<main>
    <div id="msg">Page not found</div>
    <div id="error">
        <div id="f1">{{ code // 100 }}</div>
        {% if code // 10 % 10 == 0 %}
            <div id="mars">
                <div id="circle">
                    <div id="satellite"></div>
                </div>
                <div class="ring ring-back"></div>
                <div class="ring ring-front"></div>
            </div>
        {% else %}
            <div id="f2">{{ code // 10 % 10 }}</div>
        {% endif %}
        <div id="f3">{{ code % 10 }}</div>
    </div>
    <div id="error-msg">{{ message }}</div>
    <a href="/">
        <div id="btn">
            <p style="margin: 0;">Back to galera.dev</p>
        </div>
    </a>
</main>
<div id="error-info"><p>If you <i><b>really want</b></i> to know<br>what happened...</p>
    <p>{{ error }}</p></div>
</body>
</html>