{% extends 'layout.html' %}
{% block main %}
    <div id="page-title">
        <p>
            Saved posts
        </p>
    </div>
    {% if code == 'no_posts' %}
        <p>
            You have no saved posts.
        </p>
    {% else %}
        <div id="posts-container">
            {% for post in posts %}
                <a class="post-thumbnail" id="{{ 'post' + post['id']|string }}" href="{{ '/post/' + post['link'] + '/' }}"
                   style="background-color: {{ post['theme_color'] }}">
                    <div class="post-thumbnail-info">
                        <div class="post-thumbnail-title">
                            <p>{{ post['title'] }}</p>
                        </div>
                        <div class="post-thumbnail-tagline">
                            <p>{{ post['tagline'] }}</p>
                        </div>
                        <div class="posts-date">
                            <p>{{ post['date'] }}</p>
                        </div>
                        <div class="posts-author">
                            <p>{{ post['author'] }}</p>
                        </div>
                    </div>
                    <img src="{{ post['image'] }}" class="post-image" alt="Post icon">
                </a>
            {% endfor %}
        </div>
        {% if pages_number > 1 %}
            <div id="page-selector">
                {% if current_page > 0 %}
                    <a href="/favourites/?page={{ current_page - 1 }}">Previous page</a>
                {% endif %}
                {% for page in range(0, pages_number) %}
                    {% if current_page != page %}
                        <a href="/favourites/?page={{ page }}">{{ page + 1 }}</a>
                    {% else %}
                        <p>{{ page + 1 }}</p>
                    {% endif %}
                {% endfor %}
                {% if current_page < pages_number - 1 %}
                    <a href="/favourites/?page={{ current_page + 1 }}">Next page</a>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}