:root {
    --background-color: #f2f2f2;
    --main-color: #ffffff;
    --secondary-color: #29272e;
    --accent-color: #66d9e3;
    --accent-light: #b3fcff;
    --accent-dark: #72cacf;

    --text-color: #272727;
    --text-secondary: #ffffff;
    --disabled-text: #4f4f4f;
    --disabled-color: #686868;

    --ok: #2bf27f;
    --error: #f22746;

    --scrollbar-color: #666666;
    --scrollbar-hover: #595959;
    --scrollbar-active: #404040;
}