:root {
  --color-background: #f2f2f2;
  --color-accent: #67dbe6;
  --color-ok: #2bf27f;
  --color-error: #f22746;
}
:root {
  font-family: 'Delius', cursive;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url('../images/pattern.png'), radial-gradient(circle closest-side, #158AB2 0%, #1f2a6e 20%, #111742 80%, #0D071A 160%);
}
body #stars {
  height: inherit;
  width: inherit;
}
body #stars .star {
  height: 0.3em;
  width: 0.3em;
  background-color: #ffffff;
  box-shadow: 0 0 3em 0.4em #ffffff;
  border-radius: 50%;
  position: absolute;
}
body #stars #s1 {
  top: 33%;
  left: 35%;
}
body #stars #s2 {
  top: 53%;
  left: 55%;
}
body #stars #s3 {
  top: 43%;
  left: 85%;
}
body #stars #s4 {
  top: 53%;
  left: 40%;
}
body #stars #s5 {
  top: 65%;
  left: 37%;
}
body #stars #s6 {
  top: 75%;
  left: 20%;
}
body #stars #s7 {
  top: 77%;
  left: 53%;
}
body #stars #s8 {
  top: 64%;
  left: 64%;
}
body #stars #s9 {
  top: 44%;
  left: 61%;
}
body #stars #s10 {
  top: 22%;
  left: 68%;
}
body #stars #s11 {
  top: 14%;
  left: 10%;
}
body #stars #s12 {
  top: 86%;
  left: 90%;
}
body #star-text {
  position: absolute;
  display: inline-block;
  transform: translate(-50%, 100%);
  top: 100%;
  opacity: 0;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  text-align: center;
  padding: 1vh 1vw;
  border-radius: 1em;
  pointer-events: none;
  transition: top 0.8s cubic-bezier(0.65, 0.05, 0.36, 1), left 0.8s cubic-bezier(0.65, 0.05, 0.36, 1), opacity 0.8s cubic-bezier(0.65, 0.05, 0.36, 1);
}
body main {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body main #msg {
  font-size: 3em;
  color: #ffffff;
  text-align: center;
  margin: 0;
  text-shadow: 0 0 10px #ffffff;
}
body main #error {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
body main #error #f1 {
  font-size: 100px;
  color: #ffffff;
  text-shadow: 0 0 10px #ffffff;
  margin: 0;
  z-index: 3;
}
body main #error #f2 {
  font-size: 100px;
  color: #ffffff;
  text-shadow: 0 0 10px #ffffff;
  margin: 0;
  z-index: 3;
}
body main #error #f3 {
  font-size: 100px;
  color: #ffffff;
  text-shadow: 0 0 10px #ffffff;
  margin: 0;
  z-index: 3;
}
body main #error #mars {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: url("../images/mars.jpg") center;
  background-size: 100px;
  box-shadow: 0 0 15px #9e4013;
}
body main #error #mars #circle {
  height: 100px;
  width: 100px;
  animation: move 4s cubic-bezier(0.4, 0.6, 0.6, 0.4) infinite;
  position: relative;
  z-index: 2;
}
body main #error #mars #circle #satellite {
  height: 7px;
  width: 7px;
  background-color: #3c1e09;
  border-radius: 50%;
  position: relative;
  top: 15%;
  left: 15%;
  cursor: crosshair;
  pointer-events: auto;
  animation: size 4s cubic-bezier(0.4, 0.6, 0.6, 0.4) infinite;
}
body main #error #mars .ring {
  height: 150px;
  width: 50px;
  border-radius: 50%;
  position: relative;
  left: 25%;
  transform: rotateZ(45deg);
}
body main #error #mars .ring-front {
  padding: 4px 0 4px 4px;
  border-right: 4px solid #ffffff;
  border-left: transparent;
  border-top: transparent;
  border-bottom: transparent;
  top: -288%;
}
body main #error #mars .ring-back {
  padding: 0 0 0 4px;
  border: 4px solid #ffffff;
  border-right-color: #ffffff;
  border-left: transparent;
  top: -130%;
  z-index: -1;
}
body main #btn {
  padding: 0.3em 2vw;
  width: fit-content;
  height: fit-content;
  display: block;
  color: #ffffff;
  background: linear-gradient(to bottom, #a6f8ff 30%, #67dbe6 90%);
  border-radius: 1rem;
  position: relative;
  margin-top: 1vh;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 10px #67dbe6;
  cursor: pointer;
  pointer-events: auto;
}
body main .error-msg {
  font-size: 1em;
  margin: 1.5vh 0;
  color: #ffffff;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0 0 10px #ffffff;
}
body #error-info {
  transform: translateY(100%);
  font-size: 1em;
  margin: 0 40vw 2vh;
  height: fit-content;
  padding: 0 2vw 1vh;
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3em;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 1em;
  text-shadow: 0 0 10px #ffffff;
  transition: background-color 0.8s 0.6s cubic-bezier(0.65, 0.05, 0.36, 1), transform 0.8s 1s cubic-bezier(0.65, 0.05, 0.36, 1), bottom 0.8s 1s cubic-bezier(0.65, 0.05, 0.36, 1);
}
body #error-info:hover {
  transform: translateY(0);
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 1.4s cubic-bezier(0.65, 0.05, 0.36, 1), transform 0.8s cubic-bezier(0.65, 0.05, 0.36, 1), bottom 0.8s cubic-bezier(0.65, 0.05, 0.36, 1);
}
p {
  pointer-events: none;
  cursor: default;
}
a {
  text-decoration: none;
}
@-webkit-keyframes move {
  from {
    transform: translate(-25%, -25%) rotate(0deg);
  }
  100% {
    transform: translate(-25%, -25%) rotate(360deg);
  }
}
@-webkit-keyframes size {
  from {
    transform: scale(0);
  }
  10% {
    transform: scale(0);
  }
  30% {
    transform: scale(0.65);
  }
  45% {
    transform: scale(1);
  }
  55% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.65);
  }
  90% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
@media screen and (max-aspect-ratio: 1.5) {
  #error-info {
    margin: 0 20vw 2vh;
  }
}
@media screen and (max-aspect-ratio: 0.625) {
  #error-info {
    margin: 0 5vw 2vh;
  }
}
@media (pointer: coarse) {
  #pc-only {
    display: none;
  }
}
/*# sourceMappingURL=error.css.map */