:root{
    --main-color: #3B3940;
    --secondary-color: #29272e;
    --scrollbar-color: #343039;
    --secondary-shadow: rgba(18, 16, 23, 0.61);
    --accent-color: #f6941d;
    --accent-hover: #ffb433;
    --text-hover: #9b9b9b;
    font-family: sans-serif;
    background: var(--main-color);
}

body{
    padding: 0;
    margin: 0;
}

.login{
    position: absolute;
    padding: 10vh 10vw;
    border: #9b9b9b solid 2px;
    border-radius: 2vmax;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--secondary-color);
}

.login > a, .login > a:visited, .login-link{
    color: white;
    text-align: center;
}

.login-message{
    font-weight: 600;
    padding: 2vh 2vw;
    background-color: #c1c1c1;
    border-radius: 10px;
}

form{
    background: white;
    border-radius: 10px;
    padding: 5vh 7vw;
}

.form-section{
    margin: .5vh auto 1.5vh;
    padding: 0;
    position: relative;
}

.form-section-title{
    margin: 0 0 1vh;
    text-decoration: underline;
}

.form-section > label{
    display: block;
    padding: 0;
    color: black;
}

.form-section::after{
  content: "";
  clear: both;
  display: table;
}

.form-title{
    font-weight: 700;
}

button{
    float: right;
    border: #9b9b9b 2px solid;
    background: #b3b3b3;
    color: black;
}

button:hover{
    border: #808080 2px solid;
    background: #9b9b9b;
    color: black;
}

button:active{
    border: #414141 2px solid;
    background: #5b5b5b;
    color: white;
}

.input-field{
    background: white;
    border: lightgrey 1px solid;
    margin: 5px 0;
}

label{
    color: white;
    padding: 1vh 0;
}

header{
    background-color: #584b4f;
    height: 5vh;
    margin: 0;
}

.logo-image{
    float: left;
    height: inherit;
}

.nav-block-right{
    float: right;
    height: inherit;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0 1vw 0 0;
}

.nav-block-right > li{
    height: inherit;
    float: right;
    margin: 0 1vw;
}

.nav-button{
    color: white;
}

.nav-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main{
    margin: 3vh 5vw;
    color: white;
}

a, a:visited{
    text-decoration: inherit;
    color: white;
}

.center{
    justify-content: center;
}

.left{
    justify-content: left;
}

.right{
    justify-content: right;
}

.button{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    padding: .5vh 1vw;
    margin: 1vh 1vw;
}

#post-splash{
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 30vh;
}

#post-splash-image{
    position: absolute;
    height: inherit;
    max-width: 100vw;
}

#post-save{
    cursor: pointer;
    user-select: none;
}

#post-save:hover{
    text-decoration: underline;
}

#dev{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 1vh 0;
    color: white;
    background-color: #f22746;
    width: 100vw;
    min-height: 3vh;
    max-height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    clear: both;
    text-decoration: underline;
    font-weight: 600;
}