:root {
  --color-background: #f2f2f2;
  --color-accent: #67dbe6;
  --color-ok: #2bf27f;
  --color-error: #f22746;
}
:root {
  font-family: Nunito, sans-serif;
  background: #f2f2f2;
}
body {
  padding: 0;
  margin: 0;
}
body header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
body header #logo-image {
  padding: 0 1vw;
  justify-self: flex-start;
}
body header .nav-block {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: flex-end;
  padding: 0;
  margin: 1vh 1vw 1vh 8vw;
}
body header .nav-block * {
  list-style-type: none;
}
body header .nav-block li.nav-element {
  padding: 0.5vh 1vw;
}
body header a.nav-button {
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
}
body main {
  margin: 0 5vw;
  padding: 0 2vw;
  background: #ffffff;
}
body main #page-title p {
  font-weight: 800;
  padding: 2vh 0;
  font-size: 2rem;
}
body main #posts-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}
body main #posts-container a {
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
}
body main #posts-container .post-thumbnail {
  margin: 2vh 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
body main #posts-container .post-thumbnail .post-thumbnail-info {
  padding: 0 3vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
body main #posts-container .post-thumbnail .post-thumbnail-info .post-thumbnail-title {
  font-family: Ubuntu, sans-serif;
}
body main #posts-container .post-thumbnail .post-thumbnail-info .post-thumbnail-title p {
  font-size: 2.5rem;
  font-weight: 700;
}
body main #posts-container .post-thumbnail .post-thumbnail-info .post-thumbnail-tagline {
  font-family: Ubuntu, sans-serif;
}
body main #posts-container .post-thumbnail .post-thumbnail-info .post-thumbnail-tagline p {
  font-size: 1.5rem;
  font-style: italic;
  text-decoration: #ffffff dashed underline;
  font-weight: 700;
}
body main #page-selector {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1vh auto;
}
body main #page-selector > * {
  color: #272727;
  margin: 0 0.25vmax;
}
body main #page-selector > *:visited {
  color: #272727;
}
body main #post-container #post-splash {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-around;
  width: inherit;
  margin: 2vh -2vw;
  overflow-x: hidden;
}
body main #post-container #post-splash #post-splash-image {
  height: 30vh;
}
body main #post-container #post-splash #post-info {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 3vh 3vw;
  flex-flow: column nowrap;
}
body main #post-container #post-splash #post-info #post-title {
  font-family: Ubuntu, sans-serif;
  color: #ffffff;
}
body main #post-container #post-splash #post-info #post-title p {
  font-size: 4rem;
  font-weight: 700;
}
body main #post-container #post-splash #post-info #post-tagline {
  font-family: Ubuntu, sans-serif;
  color: #ffffff;
}
body main #post-container #post-splash #post-info #post-tagline p {
  font-size: 2rem;
  font-style: italic;
  text-decoration: #ffffff dashed underline;
  font-weight: 700;
}
body main #post-container #post-splash #post-info #post-author {
  color: #ffffff;
}
body main #post-container #post-splash #post-info #post-date {
  color: #ffffff;
}
body main #post-container #post-splash #post-info #post-save {
  cursor: pointer;
  user-select: none;
  color: #272727;
}
body main #post-container #post-splash #post-info #post-save:hover {
  text-decoration: underline;
}
body main #post-container #post-main #post-tags #tag {
  display: inline-block;
}
body main #post-container #post-main #post-tags #tag a {
  cursor: pointer;
  user-select: none;
  color: #272727;
}
body form *:focus {
  outline: none;
}
body form .form-section {
  margin: 0.5vh 0 1.5vh;
}
body form .form-section .form-title {
  text-align: center;
  font-weight: 700;
}
body form .form-section .form-section-title {
  margin: 0 0 1vh;
  text-decoration: underline;
}
body form .form-section label {
  display: block;
  padding: 0;
  color: #272727;
}
body form button,
body form .disabled {
  font-family: Nunito, sans-serif;
  cursor: pointer;
  margin: 0 0 2vh;
  padding: 0.5vh 0.5vw;
  border-radius: 1rem;
  text-decoration: none;
  border: #a6f8ff 3px solid;
  background-color: #67dbe6;
  color: #ffffff;
  font-weight: 700;
  width: 100%;
}
body form button:hover {
  filter: brightness(85%);
}
body form button:active {
  filter: brightness(70%);
}
body form button p {
  color: #ffffff;
}
body form .disabled {
  border: #686868 2px solid;
  background: #686868;
  color: #4f4f4f;
}
body form input {
  font-family: Nunito, sans-serif;
  background: #f2f2f2;
  box-sizing: border-box;
  width: 100%;
  background: #ffffff;
  border-radius: 1rem;
  border: #a6f8ff 3px solid;
  padding: 0.5vh 0.5vw;
  margin: 5px 0;
}
body form label {
  color: #272727;
  padding: 1vh 0;
}
body form label.required::after {
  content: "*";
  text-decoration: none;
  color: #f22746;
  display: inline;
  margin: 0 0.5vw 0 0;
  padding: 0;
}
body form .credentials-check,
body form .error,
body form .ok {
  margin: 0;
}
body form .error {
  color: #f22746;
}
body form .ok {
  color: #2bf27f;
}
body .popup-message,
body .popup-form {
  position: absolute;
  border: #67dbe6 solid 2px;
  border-radius: 2vmax;
  top: 50%;
  right: 5vw;
  left: 5vw;
  background: #ffffff;
  transform: translateY(-50%);
  font-weight: 600;
  padding: 5vh 5vw;
  text-align: center;
}
@media screen and (min-width: 400px) {
  body .popup-message,
  body .popup-form {
    right: 20vw;
    left: 20vw;
  }
}
@media screen and (min-width: 1000px) {
  body .popup-message,
  body .popup-form {
    right: 35vw;
    left: 35vw;
  }
}
body .popup-message .login-link,
body .popup-form .login-link {
  color: #272727;
  text-align: center;
}
p {
  margin: 0;
}
@media (pointer: fine) {
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f2f2f2;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #666666;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #595959;
  }
  ::-webkit-scrollbar-thumb:active {
    background-color: #404040;
  }
  .popup-form::-webkit-scrollbar {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */