:root {
    --background-color: #f2f2f2;
    --main-color: #ffffff;
    --secondary-color: #29272e;
    --scrollbar-color: #343039;
    --accent-color: #39d3e3;
    --accent-light: #b3fcff;
    --accent-dark: #72cacf;
    --text-color: #272727;
    --text-secondary: #ffffff;
    font-family: sans-serif;
    background: var(--background-color);
}

body {
    padding: 0;
    margin: 0;
}

.popup-form {
    position: absolute;
    padding: 10vh 10vw;
    border: var(--accent-color) solid 2px;
    border-radius: 2vmax;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--main-color);
}

.popup-form a, .popup-form a:visited, .login-link {
    color: var(--text-color);
    text-align: center;
}

a.nav-button, main #posts-container a {
    text-decoration: none;
    font-weight: 600;
    color: var(--text-secondary);
}

.login-message {
    font-weight: 600;
    padding: 2vh 2vw;
    background-color: var(--background-color);
    border-radius: 10px;
}

form {
    background: var(--main-color);
    border-radius: 10px;
    padding: 5vh 7vw;
}

.form-section {
    display: block;
    margin: .5vh auto 1.5vh;
    padding: 0;
}

.form-section-title {
    margin: 0 0 1vh;
    text-decoration: underline;
}

.form-section label {
    display: block;
    padding: 0;
    color: var(--text-color);
}

.form-title {
    font-weight: 700;
}

button {
    cursor: pointer;
    float: right;
    border: #9b9b9b 2px solid;
    background: #b3b3b3;
    color: var(--text-color);
}

button:hover {
    border: #808080 2px solid;
    background: #9b9b9b;
    color: var(--text-color);
}

button:active {
    border: #414141 2px solid;
    background: #5b5b5b;
    color: var(--text-color);
}

button.disabled {
    border: #808080 2px solid;
    background: #9b9b9b;
    color: #686868;
}

button.disabled:hover {
    border: #737373 2px solid;
    background: #8d8d8d;
    color: #5b5b5b;
}

button.disabled:active {
    border: #676767 2px solid;
    background: #818181;
    color: #4f4f4f;
}

.button {
    margin: 2vh .8vw;
    padding: .5vh .5vw;
    border-radius: 1rem;
    text-decoration: none;
}

.button p {
    color: var(--text-secondary);
}

.input-field {
    background: var(--main-color);
    border: lightgrey 1px solid;
    margin: 5px 0;
}

label {
    color: var(--text-color);
    padding: 1vh 0;
}

label.required::after {
    content: "*";
    text-decoration: none;
    color: orangered;
    display: inline;
    margin: 0 .5vw 0 0;
    padding: 0;
}

.credentials-check {
    margin: 0;
}

.credentials-check.error {
    color: #f22746;
}

.credentials-check.ok {
    color: #2bf27f;
}

header {
    background-color: var(--accent-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#logo-image {
    padding: 0 1vw;
    justify-self: flex-start;
}

.nav-block {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0 1vw 0 0;
}

.nav-block li {
    padding: 1vh 0;
    margin: 0 1vw;
}

.nav-button {
    color: var(--secondary-color);
}

.nav-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-title p {
    font-weight: 800;
    font-size: 2rem;
    margin: 0;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    margin: 0 5vw;
    padding: 0 2vw;
    background: var(--main-color);
    color: var(--text-color);
}

#posts-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.posts {
    margin: 2vh 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.posts-title p {
    font-size: 2.5rem;
    font-weight: 700;
}

.posts-tagline p {
    font-size: 1.5rem;
    font-style: italic;
    text-decoration: var(--text-secondary) dashed underline;
    font-weight: 700;
}

#page-selector {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1vh auto;
}

#page-selector > *, #page-selector > *:visited {
    color: var(--text-color);
    margin: 0 .25vw;
}

.post {
    margin: 0;
}

#post-splash {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
    width: inherit;
    margin: 2vh -2vw;
    overflow-x: hidden;
}

#post-splash-image {
    height: 30vh;
}

#post-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

#post-info, .posts-info {
    padding: 3vh 3vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}


#post-title, #post-tagline, #post-author, #post-date {
    color: var(--text-secondary);
}

#post-title p, #post-tagline p, #post-author p, #post-date p, .posts-title p, .posts-tagline p {
    margin: 0;
}

#post-title p {
    font-size: 4rem;
    font-weight: 700;
}

#post-tagline p {
    font-size: 2rem;
    font-style: italic;
    text-decoration: var(--text-secondary) dashed underline;
    font-weight: 700;
}

#post-save, #tag a {
    cursor: pointer;
    user-select: none;
    color: var(--text-color);
}

#post-save:hover {
    text-decoration: underline;
}

#post-main {
    margin: 2vh 0;
}

#tag {
    display: inline-block;
}
