{% extends 'layout.html' %}
    {% block header_menu %}
            <ul class="nav-block-right">
                <li class="nav-element">
                   <a id="logout" class="nav-button" href="/logout/">Sign out</a>
                </li>
                <li class="nav-element">
                    <a id="settings" class="nav-button" href="/settings/">Settings</a>
                </li>
                <li class="nav-element">
                    <a id="posts" class="nav-button" href="/posts/">Posts</a>
                </li>
            </ul>
    {% endblock %}
    {% block main %}
      {{ username }}, welcome to your account!<br>
    {% endblock %}