{% extends 'layout.html' %}
    {% block main %}
        <h2>We are sorry to see you go!</h2>
        <h3>Are you sure to delete your account?</h3>
        <div style="display: flex; flex-flow: row wrap; justify-content: flex-start;">
            <a class="button" href="/delete_confirm/" style="background: #e2444c">
                <p >Yes, I'm leaving...</p>
            </a>
            <a class="button" href="/account/" style="background: #5ae282">
                <p >No, I stay with you!</p>
            </a>
        </div>
    {% endblock %}