{% extends 'layout.html' %}

    {% block main %}
        <h2>We are sorry to see you go!</h2>
        <h3>Are you sure to delete your account?</h3>
        <div class="center" style="margin: 0 70vw 0 0">
            <div class="button" style="background: #e2444c">
                <a href="/delete_confirm/">Yes, I'm leaving...</a>
            </div>
            <div class="button" style="background: #5ae282">
                <a href="/account/">No, I stay with you!</a>
            </div>
        </div>
    {% endblock %}