{% extends 'layout.html' %}

    {% block login %}
        <div class = login>
            <div class="login-message">
                {% if code == 0 %}
                    <p>
                        Username already exists.
                    </p>
                {% elif code == 1 %}
                    <p>
                        Please fill in all the fields.
                    </p>
                {% elif code == 2 %}
                    <p>
                        Wrong username or password.
                    </p>
                {% elif code == 3 %}
                    <p>
                        Passwords do not match.
                    </p>
                {% endif %}
            </div>
        </div>
    {% endblock %}