<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu" rel="stylesheet">
    <!-- WARNING: Google analytics disabled for development purposes. Enable when needed!
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126259429-1"></script>
    <script>
        window.dataLayer=window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-126259429-1');
    </script>
    -->
    <!-- WARNING: Favicon missing! -->
    <link rel="icon" type="image/png" sizes="16x16" href="https://blog.mstefan99.com/static/images/ico.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content={{ post['theme_color'] if post else '#66d9e3' }}>
    <meta charset="utf-8">

    <title>{{ 'galera.dev ' + post['title'] if post else 'galera.dev ' + request.path[1:-1].capitalize() }}</title>
    <meta name="description" content="{{ post['tagline'] if post else 'galera.dev blog' }}">
    <meta name="author" content="{{ post['author'] if post else 'galera.dev' }}">
    <style>
        body header {
            background-color: {{ post['theme_color'] if post else 'var(--color-accent)' }};
        }
    </style>
</head>
<body>
<header>
    <a id="logo-image" class="nav-button" href="/">galera.dev</a>
    <ul class="nav-block">
        {% if request.cookies.get('MSTID') %}
            <li class="nav-element">
                <a id="logout" class="nav-button" href="/logout/">Sign out</a>
            </li>
        {% else %}
            <li class="nav-element">
                <a id="logout" class="nav-button" href="/sign in/">Sign in</a>
            </li>
        {% endif %}
        {% if request.path != '/settings/' %}
            <li class="nav-element">
                <a id="settings" class="nav-button" href="/settings/">Settings</a>
            </li>
        {% endif %}
        {% if request.path != '/account/' %}
            <li class="nav-element">
                <a id="account" class="nav-button" href="/account/">Account</a>
            </li>
        {% endif %}
        {% if request.path != '/favourites/' %}
            <li class="nav-element">
                <a id="posts-container" class="nav-button" href="/favourites/">Favourites</a>
            </li>
        {% endif %}
    </ul>
</header>
<main>
    {% block main %}
    {% endblock %}
</main>
{% block login %}
{% endblock %}
<footer>
    {% block footer %}
    {% endblock %}
</footer>
</body>
</html>