{% extends 'layout.html' %}
    {% block main %}
        <div id="page-title">
            <p>
                Posts
            </p>
        </div>
        <div id="posts-container">
            {% for post in posts %}
                <a class="posts" id="{{ 'post' + post[0]|string }}" href="{{ '/post/' + post[6] }}" style="background-color: {{ post[5] }}">
                    <div class="posts-info">
                         <div class="posts-title">
                            <p>{{ post[1] }}</p>
                        </div>
                        <div class="posts-tagline">
                            <p>{{ post[2] }}</p>
                        </div>
                        <div class="posts-date">
                            <p>{{ post[9] }}</p>
                        </div>
                        <div class="posts-author">
                            <p>{{ post[7] }}</p>
                        </div>
                    </div>
                    <img src="{{ post[3] }}" class="post-image" alt="Post icon">
                </a>
            {% endfor %}
        </div>
    {% endblock %}