{% extends 'layout.html' %}
    {% block login %}
        <form action="/recover_processor/" class="popup-form validated" method="post">
            <div class="form-section">
                <label class="form-title">Create your new password</label>
            </div>
            <div class="form-section">
                <label class="form-section-title">Password</label>
                <input type="password" name="new-password" id="new-password" class="input-field" autocomplete="new-password" placeholder="Enter your password" required><br>
                <label>Repeat password</label>
                <input type="password" name="repeat-new-password" id="repeat-new-password" class="input-field" autocomplete="new-password" placeholder="Repeat your password" required><br>
                <p id="repeat-new-password-check" class="credentials-check"></p>
            </div>
            <input name="key" style="display: none" value="{{ key }}"><br>
            <div class="form-section">
                <button id="submit-button">Submit</button><br>
            </div>
        </form>
        <script src="{{ url_for('static', filename='javascript/validate_form.js') }}"></script>
    {% endblock %}