{% extends 'layout.html' %}
    {% block login %}
        <div class=login>
            <form action="/register_processor/" class="popup-form" method="post">
                <div class="form-section">
                    <label class=form-title>Sign up</label>
                </div>
                <div class="form-section">
                    <label class="form-section-title">Email</label>
                    <input type="text" name="email" class="input-field" autocomplete="email" placeholder="Enter your email"><br>
                </div>
                <div class="form-section">
                    <label class="form-section-title">Username</label>
                    <input type="text" name="username" class="input-field" autocomplete="username" placeholder="Enter your username"><br>
                </div>
                <div class="form-section">
                    <label class="form-section-title">Password</label>
                    <input type="password" name="new-password" class="input-field" autocomplete="new-password" placeholder="Enter your password"><br>
                    <label>Repeat password</label>
                    <input type="password" name="repeat-new-password" class="input-field" autocomplete="new-password" placeholder="Repeat your password"><br>
                </div>
                <div class="form-section">
                    <button type="submit">Submit</button><br>
                </div>
            </form>
        </div>
    {% endblock %}