{% extends 'layout.html' %}
{% block main %}
    <div id="page-title">
        <p>
            Your account
        </p>
    </div>
    {{ user['username'] }}, welcome to your account!
    {% if not user['verified'] %}
        <p style="color: indianred">
            Your email address ({{ user['email'] }}) is not verified yet! You won't be able to reset your password
            without
            a verified email.
        </p>
    {% else %}
        <p style="color: lightgreen">
            Your email address ({{ user['email'] }}) is verified! You can enjoy all features of your account!
        </p>
    {% endif %}
{% endblock %}