{% extends 'layout.html' %}
{% block login %}
    <form action="/login_processor/" class="popup-form validated" method="post">
        <div class="form-section">
            <label class="form-title">{{ login + ', welcome back!' if login else 'Sign in' }}</label>
        </div>
        <div class="form-section">
            <label class="form-section-title required">Username or email</label>
            <input type="text" name="login" class="login" autocomplete="email"
                   placeholder="Enter your username or email"
                   value="{{ login if login }}" {{ 'readonly="readonly"' if login }} required>
            <p class="credentials-check login-check"></p>
        </div>
        <div class="form-section">
            <label class="form-section-title required">Password</label>
            <input type="password" name="current-password" class="current-password"
                   autocomplete="current-password" placeholder="Enter your password" value="{{ password if password }}"
                   required>
        </div>
        <div class="form-section">
            <button type="submit">Login</button>
        </div>
        <div class="form-section">
            <p class="credentials-check required-check"></p>
        </div>
        <div class="form-section">
            <a href="/recover_create/">Forgot your password?</a>
        </div>
    </form>
    <script src="{{ url_for('static', filename='js_compiled/validate_form.min.js') }}"></script>
{% endblock %}