{% extends 'layout.html' %}
{% block login %}
    <form action="/recover_processor/" class="popup-form validated" method="post">
        <div class="form-section">
            <label class="form-title">Create your new password</label>
        </div>
        <div class="form-section">
            <label class="form-section-title required">Password</label>
            <input type="password" name="new-password" class="new-password realtime-validate"
                   autocomplete="new-password" placeholder="Enter your password" required>
            <p class="credentials-check new-password-check"></p>
            <label>Repeat password</label>
            <input type="password" name="repeat-new-password" class="repeat-new-password realtime-validate"
                   autocomplete="new-password" placeholder="Repeat your password" required>
            <p class="credentials-check repeat-new-password-check"></p>
        </div>
        <input name="key" style="display: none" value="{{ key }}">
        <div class="form-section">
            <button type="submit">Reset password</button>
        </div>
        <div class="form-section">
            <p class="credentials-check required-check"></p>
        </div>
    </form>
    <script src="{{ url_for('static', filename='js_compiled/validate_form.min.js') }}"></script>
{% endblock %}