{% extends 'layout.html' %}
{% block login %}
    <form action="/recover_create_processor/" class="popup-form validated" method="post">
        <div class="form-section">
            <label class="form-title">Forgot your password? Don't worry, this happens to us all</label>
        </div>
        <div class="form-section">
            <label class="form-section-title required">Just enter your username or email in the field below and we will
                send you
                a recovery link.</label>
            <input type="text" name="login" class="login" autocomplete="email"
                   placeholder="Enter your username or email" required>
            <p class="credentials-check login-check"></p>
        </div>
        <div class="form-section">
            <button type="submit">Send email</button>
        </div>
        <div class="form-section">
            <p class="credentials-check required-check"></p>
        </div>
    </form>
    <script src="{{ url_for('static', filename='js_compiled/validate_form.min.js') }}"></script>
{% endblock %}