{% extends 'layout.html' %}
{% block login %}
    <form action="/register_processor/" class="popup-form validated" method="post">
        <div class="form-section">
            <label class=form-title>{{ login + ', register on galera.dev!' if login else 'Register' }}</label>
        </div>
        <div class="form-section">
            <label class="form-section-title required">Email</label>
            <input type="text" name="email" class="email realtime-validate" autocomplete="email"
                   placeholder="Enter your email" required>
            <p class="credentials-check email-check"></p>
        </div>
        <div class="form-section">
            <label class="form-section-title required">Username</label>
            <input type="text" name="username" class="username realtime-validate"
                   autocomplete="username" placeholder="Enter your username" required>
            <p class="credentials-check username-check"></p>
        </div>
        <div class="form-section">
            <label class="form-section-title required">Password</label>
            <input type="password" name="new-password" class="new-password realtime-validate"
                   autocomplete="new-password" placeholder="Enter your password" required>
            <p class="credentials-check new-password-check"></p>
            <label>Repeat password</label>
            <input type="password" name="repeat-new-password"
                   class="repeat-new-password realtime-validate" autocomplete="new-password"
                   placeholder="Repeat your password" required>
            <p class="credentials-check repeat-new-password-check"></p>
        </div>
        <div class="form-section">
            <button type="submit">Register</button>

        </div>
        <div class="form-section">
            <p class="credentials-check required-check"></p>
        </div>
    </form>
    <script src="{{ url_for('static', filename='js_compiled/validate_form.min.js') }}"></script>
{% endblock %}