{% extends 'layout.html' %}
{% block main %}
	<div id="page-title">
		<p>
			Settings
		</p>
	</div>
	<form action="/settings_processor/" class="form validated" method="post">
		<div class="form-section">
			<label class="form-section-title">Change your email</label>
			<label>New email</label>
			<input type="text" name="email" class="email realtime-validate" autocomplete="email"
			       placeholder="Enter your new email">
			<p class="credentials-check email-check"></p>
			<label>Confirm new email</label>
			<input type="text" name="repeat-email" class="repeat-email realtime-validate"
			       autocomplete="email" placeholder="Confirm your new email">
			<p class="credentials-check email-match-check"></p>
		</div>
		<div class="form-section">
			<label class="form-section-title">Change your username</label>
			<label>New username</label>
			<input type="text" name="username" class="username realtime-validate" autocomplete="username"
			       placeholder="Enter your new username">
			<p class="credentials-check username-check"></p>
		</div>
		<div class="form-section">
			<label class="form-section-title">Change your password</label>
			<label>New password</label>
			<input type="password" name="new-password" class="new-password realtime-validate"
			       autocomplete="new-password" placeholder="Enter your new password">
			<p class="credentials-check new-password-check"></p>
			<label>Repeat new password</label>
			<input type="password" name="repeat-new-password" class="repeat-new-password realtime-validate"
			       autocomplete="new-password" placeholder="Repeat your new password">
			<p class="credentials-check repeat-new-password-check"></p>
		</div>
		<div class="form-section">
			<label>You can fill only the fields you need to change</label>
			<button type="submit">Submit</button>
		</div>
		<a style="color: #000;" href="/delete/">Delete your account</a>
	</form>
	<script src="{{ url_for('static', filename='js/validate_form.js') }}"></script>
{% endblock %}